@using Oniria.Core.Domain.Entities
@using Oniria.Core.Dtos.User.Response;
@{
    var genres = ViewBag.Genres as List<GenderEntity>;
    var users = ViewBag.Users as List<UserResponse>;
    var oneUser = ViewBag.User as UserResponse;
}

<div class="text-center">
    <h1 class="display-4">Mondongo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img style="width: 100px; height:100px;" src="~/images/cat.png" />
    <h1 class="mb-5">larry...</h1>
    <div class="mb-5">
        <ul>
            <h1>GENRES: </h1>
            @foreach (var genre in genres)
            {
                <li>@genre.Description</li>
            }
        </ul>

        <ul>
            <h1>USERS: </h1>
            @foreach (var user in users)
            {
                <li>
                    @user.UserName + @user.Email + @user.Status
                    <ul>
                        <p>ROLES: </p>
                        @foreach (var rol in user.Roles) {
                            <li>@rol</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div>
        @if (oneUser != null)
        {
            <h3>UN SOLO USUARIO: </h3>
            <p>
                @oneUser.UserName + @oneUser.Email + @oneUser.Status
            </p>
        }
        else
        {
            <h1>NO SE ENCONTRO DICHO USUARIO CON ESE DI QUE SE PUSO</h1>
        }
    </div>
</div>
<button id="userSession">Get User Session</button>
<button id="loginUser">Login User</button>
<button id="createUser">Create User</button>
<button id="updateUser">Update User</button>
<button id="restorePasswordUser">Enviar Restore Password User</button>
<button id="analyzeDream">Analyze Dream</button>
<button id="createPatient">Create Patient</button>
<button id="updatePatient">Update Patient</button>
<button id="createOrganization">Create Organization</button>
<button id="updateOrganization">Update Organization</button>
<button id="createEmployee">Create Employee</button>
<button id="updateEmployee">Update Employee</button>

<h1 id="result">####</h1>

@section Scripts {
    <script>
        $(document).ready(function () {
            const setResult = (messages) => {
                if (Array.isArray(messages) && messages.length > 0) {
                    $("#result").html(messages.join("<br>"));
                } else {
                    $("#result").html("No messages available");
                }
            };

            const handlePost = (actionName, successMsg) => {
                $.ajax({
                    url: `Home/${actionName}`,
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.ok) {
                            setResult([successMsg]);
                        } else {
                            setResult(response.messages);
                        }
                    },
                    error: function (xhr) {
                        setResult([`${actionName} failed: ` + xhr.statusText]);
                    }
                });
            };

            $("#userSession").click(function () {
                $.ajax({
                    url: '@Url.Action("GetUserSession")',
                    type: 'GET',
                    success: function (response) {
                        setResult(response.data ? [JSON.stringify(response.data)] : ["Error: No data available"]);
                    },
                    error: function (xhr) {
                        setResult([`Error: ` + xhr.statusText]);
                    }
                });
            });

            $("#loginUser").click(() => handlePost("Login", "Se Logeo nitido"));
            $("#createUser").click(() => handlePost("CreateUser", "Se creo nitido"));
            $("#updateUser").click(() => handlePost("UpdateUser", "Se actualizo nitido"));
            $("#restorePasswordUser").click(() => handlePost("RestorePassword", "Se envio el correo de restablecer password nitido"));
            $("#analyzeDream").click(function () {
                $.ajax({
                    url: '@Url.Action("AnalyzeDream")',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.ok) {
                            setResult([response.result]);
                        } else {
                            setResult(response.messages);
                        }
                    },
                    error: function (xhr) {
                        setResult([`Analyze dream failed: ` + xhr.statusText]);
                    }
                });
            });

            $("#createPatient").click(() => handlePost("CreatePatient", "Se creo nitido el paciente"));
            $("#updatePatient").click(() => handlePost("UpdatePatient", "Se actualizo nitido el paciente"));

            $("#createOrganization").click(() => handlePost("CreateOrganization", "Se creo nitida la organización"));
            $("#updateOrganization").click(() => handlePost("UpdateOrganization", "Se actualizo nitida la organización"));

            $("#createEmployee").click(() => handlePost("CreateEmployee", "Se creo nitido el empleado"));
            $("#updateEmployee").click(() => handlePost("UpdateEmployee", "Se actualizo nitido el empleado"));
        });
    </script>
}
