@using Oniria.Core.Domain.Entities
@using Oniria.Core.Dtos.User.Response;
@{
    var genres = ViewBag.Genres as List<GenderEntity>;
    var users = ViewBag.Users as List<UserResponse>;
    var oneUser = ViewBag.User as UserResponse;
}

<div class="text-center">
    <h1 class="display-4">Mondongo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img style="width: 100px; height:100px;" src="~/images/cat.png" />
    <h1 class="mb-5">larry...</h1>
    <div class="mb-5">
        <ul>
            <h1>GENRES: </h1>
            @foreach (var genre in genres)
            {
                <li>@genre.Description</li>
            }
        </ul>

        <ul>
            <h1>USERS: </h1>
            @foreach (var user in users)
            {
                <li>
                    @user.UserName + @user.Email + @user.Status
                    <ul>
                        <p>ROLES: </p>
                        @foreach (var rol in user.Roles) {
                            <li>@rol</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div>
        @if (oneUser != null)
        {
            <h3>UN SOLO USUARIO: </h3>
            <p>
                @oneUser.UserName + @oneUser.Email + @oneUser.Status
            </p>
        }
        else
        {
            <h1>NO SE ENCONTRO DICHO USUARIO CON ESE DI QUE SE PUSO</h1>
        }
    </div>
</div>
<button id="userSession">Get User Session</button>
<button id="loginUser">Login User</button>
<button id="createUser">Create User</button>
<button id="updateUser">Update User</button>
<button id="restorePasswordUser">Enviar Restore Password User</button>
<h1 id="result">####</h1>
@section Scripts {
    <script>
        $(document).ready(function() {
            // Obtener sesión al hacer clic
            $("#userSession").click(function() {
                $.ajax({
                    url: '@Url.Action("GetUserSession")',
                    type: 'GET',
                    success: function(response) {
                        $("#result").html(JSON.stringify(response.data));
                    },
                    error: function(xhr) {
                        $("#result").html("Error: " + xhr.statusText);
                    }
                });
            });

            // Login al hacer clic
            $("#loginUser").click(function() {
                $.ajax({
                    url: '@Url.Action("Login")',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function(response) {
                        if (response.ok) {
                            $("#result").html("Se Logeo nitido");
                        }
                        else {
                            $("#result").html(response.messages);
                        }
                    },
                    error: function(xhr) {
                        $("#result").html("Login failed: " + xhr.statusText);
                    }
                });
            });

            $("#createUser").click(function() {
                $.ajax({
                    url: '@Url.Action("CreateUser")',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function(response) {
                        if (response.ok) {
                            $("#result").html("Se creo nitido");
                        }
                        else {
                            $("#result").html(response.messages);
                        }
                    },
                    error: function(xhr) {
                        $("#result").html("Create failed: " + xhr.statusText);
                    }
                });
            });

            $("#updateUser").click(function() {
                $.ajax({
                    url: '@Url.Action("UpdateUser")',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function(response) {
                        if (response.ok) {
                            $("#result").html("Se actualizo Nitido");
                        }
                        else {
                            $("#result").html(response.messages);
                        }
                    },
                    error: function(xhr) {
                        $("#result").html("Update failed: " + xhr.statusText);
                    }
                });
            });

            $("#restorePasswordUser").click(function() {
                $.ajax({
                    url: '@Url.Action("RestorePassword")',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function(response) {
                        if (response.ok) {
                            $("#result").html("Se envio el correo de restablecer password Nitido");
                        }
                        else {
                            $("#result").html(response.messages);
                        }
                    },
                    error: function(xhr) {
                        $("#result").html("enviar correo restablecer password failed: " + xhr.statusText);
                    }
                });
            });
        });
    </script>
}